* {
  font-family: Arial;
  color: white;
  text-shadow: 0px 0px 18px rgba(245, 161, 35, 1);
}

body, html {
  background: url('./assets/backdrop.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  animation: glow 1s ease-in-out infinite alternate;
}

.header {
  height: auto;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.player-info {
  text-align: center;
  font-style: italic;
}

.central-back {
  transform: scale(1.3);
}

.empty-stack {
  opacity: 0.25;
}

.player-cards > *{
  height: 45vh;
  width: auto;
}

.count {
  height: 25px;
  text-align: center;
}

.card-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.player-0 {
  box-shadow: 0px 0px 40px 20px #fff200;
}

.player-1 {
  box-shadow: 0px 0px 40px 20px #4666FF;
}

@keyframes glow {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
