* {
  font-family: 'Kalam', cursive;
  color: white;
  text-shadow: 0px 0px 18px rgba(245, 161, 35, 1);
}

body, html {
  background: url('./assets/backdrop.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-style: italic;
  transform: rotate(-3deg);
  animation: glow 1s ease-in-out infinite alternate;
}

.hidden {
  visibility: hidden;
}

.header {
  height: 20%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.player-info {
  text-align: center;
  font-style: italic;
}

.central-back {
  transform: scale(1.3);
}

.card {
  border: black 2px inset;
}

.empty-stack {
  opacity: 0.25;
}

.player-cards > * {
  height: 45vh;
  width: auto;
}

.win-count {
  height: 25px;
  text-align: center;
}

.card-count{
  font-size: 35px;
  font-style: oblique;
  height: 25px;
  text-align: center;
  margin: 0.5em;
}

.card-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.player-0 {
  box-shadow: 0px 0px 50px 10px #fff200;
}

.player-1 {
  box-shadow: 0px 0px 50px 15px #19D9FF;
}

.p0-stack-5 {
  box-shadow:
    0px 0px 120px 8px #fff200,
    4px 4px 0px 0px #FFFFB7,
    8px 8px 0px 0px #FFF192,
    12px 12px 0px 0px #FFEA61,
    16px 16px 0px 0px #FFDD3C,
    20px 20px 0px 0px #FFD400;
}

.p0-stack-4 {
  box-shadow:
    0px 0px 90px 6px #fff200,
    4px 4px 0px 0px #FFFFB7,
    8px 8px 0px 0px #FFF192,
    12px 12px 0px 0px #FFEA61,
    16px 16px 0px 0px #FFDD3C;
}

.p0-stack-3 {
  box-shadow:
    0px 0px 70px 4px #fff200,
    4px 4px 0px 0px #FFFFB7,
    8px 8px 0px 0px #FFF192,
    12px 12px 0px 0px #FFEA61;
}

.p0-stack-2 {
  box-shadow:
    0px 0px 50px 2px #fff200,
    4px 4px 0px 0px #FFFFB7,
    8px 8px 0px 0px #FFF192;
}

.p0-stack-1 {
  box-shadow:
    0px 0px 20px 0px #fff200,
    4px 4px 0px 0px #FFFFB7;
}

.p0-stack-0 {
  animation: glow-danger 0.5s ease-in-out infinite alternate;
}

.p1-stack-5 {
  box-shadow:
    0px 0px 120px 8px #19D9FF,
    4px 4px 0px 0px #E1EEFF,
    8px 8px 0px 0px #CAE6FF,
    12px 12px 0px 0px #A1D8FF,
    16px 16px 0px 0px #5FB8FF,
    20px 20px 0px 0px #289FED;
}

.p1-stack-4 {
  box-shadow:
    0px 0px 90px 6px #19D9FF,
    4px 4px 0px 0px #E1EEFF,
    8px 8px 0px 0px #CAE6FF,
    12px 12px 0px 0px #A1D8FF,
    16px 16px 0px 0px #5FB8FF;
}

.p1-stack-3 {
  box-shadow:
    0px 0px 70px 4px #19D9FF,
    4px 4px 0px 0px #E1EEFF,
    8px 8px 0px 0px #CAE6FF,
    12px 12px 0px 0px #A1D8FF;
}

.p1-stack-2 {
  box-shadow:
    0px 0px 50px 2px #19D9FF,
    4px 4px 0px 0px #E1EEFF,
    8px 8px 0px 0px #CAE6FF;
}

.p1-stack-1 {
  box-shadow:
    0px 0px 20px 0px #19D9FF,
    4px 4px 0px 0px #E1EEFF;
}

.p1-stack-0 {
  animation: glow-danger 0.5s ease-in-out infinite alternate;
}

.slap {
  animation: slap 0.5s ease-out infinite;
}

.big-slap {
  animation: big-slap 0.5s ease-out infinite;
}

.bump {
  animation: bump 0.5s ease-out infinite;
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#replay-btn {
  width: 50%;
  height: auto;
  margin: -70px;
  font-size: 20px;
  border-radius: 50px;
  border: ridge;
  color: black;
}

@keyframes slap {
  20% { transform: scale(0.95);}
  50% { transform: scale(0.97);}
  80% { transform: scale(0.98);}
}

@keyframes big-slap {
  20% { transform: scale(0.6);}
  50% { transform: scale(0.5);}
  80% { transform: scale(0.9);}
}

@keyframes bump {
  20% { transform: scale(1.75);}
  50% { transform: scale(2);}
  80% { transform: scale(1.1);}
}

@keyframes glow {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #e60073,
      0 0 40px #e60073,
      0 0 50px #e60073,
      0 0 60px #e60073,
      0 0 70px #e60073;
    }
  to {
    text-shadow:
      0 0 20px #fff,
      0 0 30px #ff4da6,
      0 0 40px #ff4da6,
      0 0 50px #ff4da6,
      0 0 60px #ff4da6,
      0 0 70px #ff4da6,
      0 0 80px #ff4da6;
  }
}

@keyframes glow-danger {
  from {
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 10px #e60073,
      0 0 20px #e60073,
      0 0 30px #e60073,
      0 0 30px #e60073,
      0 0 40px #e60073;
  }
  to {
    box-shadow:
      0 0 10px #fff,
      0 0 20px #ff4da6,
      0 0 20px #ff4da6,
      0 0 30px #ff4da6,
      0 0 50px #ff4da6,
      0 0 50px #ff4da6,
      0 0 60px #ff4da6;
  }
}
